<!-- Welcome Component Content -->
<div class="content" role="main">

  <!-- Highlight Card -->
  <div class="card highlight-card">
    <div class="card-body" *ngIf="nameIsEmpty">
      {{ welcomeMessage }}
    </div>
    <div class="card-body" *ngIf="!nameIsEmpty">
      Welcome {{ name }} to our awesome webapp!
    </div>
  </div>

  <button class="btn btn-secondary" routerLink="/todos">You can access your todos here.</button>

  <div>
    <button class="btn btn-success" (click)="getHelloWorldMessage()">Click here to get a Hello World message!</button>
    <h1 *ngIf="helloWorldMessage">{{ helloWorldMessage }}</h1>
  </div>


  <!-- Welcome Component Content -->
  <!--<app-welcome></app-welcome>-->
  <!-- Login Component Content -->
  <!--<app-login></app-login>-->
  <!-- Resources -->

</div>



